.unselectable{
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

.raisedbox { 
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.pressed {
  -webkit-box-shadow: inset 0px 0px 5px white;
     -moz-box-shadow: inset 0px 0px 5px white;
          box-shadow: inset 0px 0px 5px white;
   outline: none;
}